:root {
	---accent-color: #666;
	---accent-color-2: #fff;
	---background-color: #252525;
	---text-color: #f3f3f3;
}

body { /*Tudo*/
    font-family: verdana;
    font-size: 13pt;
    background-color: var(---background-color);
}
h1 { /*Título*/
    color: var(---text-color);
    text-align: center;
    font-family: verdana;
    -webkit-text-stroke: 1.25px var(---accent-color);
    margin-top: 30pt;
    margin-bottom: 25pt;
}
ul { /*Listas (os resultados)*/
    list-style-type: none;
}
.result { /*Cor dos resultados*/
    color: var(---text-color);
}
.pai button { /*Style dos botões principais*/
    color: var(---accent-color-2);
    background-color: var(---background-color);
    border: 2px solid var(---accent-color-2);
    display: block;
    margin: 10px;
    font-size: 16pt;
    height: 59px;
    width: 150px;
    padding: 1%;
    transition-duration: 0.1s;
    border-radius: 15%;
}
.letras { /*Style dos botões das letras*/
    color: var(---text-color);
    background-color: var(---background-color);
    border: 2px solid var(---accent-color-2);
    margin: 10px;
    font-size: 14pt;
    height: 45px;
    width: 90px;
    transition-duration: 0.1s;
    border-radius: 15%;
}
.pai button:hover, .letter-class button:hover, .cor button:hover { /*Hover de todos os botões (principais, letras e cor tema)*/
    background-color: var(---accent-color-2);
    color: var(---background-color);
}
.cor { /*Style da div da cor tema*/
    position: fixed;
    right: 0.5%;
    top: 2%;
}
.cor button { /*Style do botão de cor tema*/
    color: var(---accent-color-2);
    background-color: var(---background-color);
    border: 2px solid var(---accent-color-2);
    display: block;
    margin: 10px;
    font-size: 16pt;
    height: 45px;
    width: 90px;
    border-radius: 15%;
}
