body { /*Tudo*/
    font-family: verdana;
    font-size: 13pt;
    background-color: #ffffff;
}
h1 { /*Título*/
    color: #666666;
    text-align: center;
    font-family: verdana;
    -webkit-text-stroke: 1.25px #f3f3f3;
    margin-top: 30pt;
    margin-bottom: 25pt;
}
ul { /*Listas (os resultados)*/
    list-style-type: none;
}
.result { /*Cor dos resultados*/
    color: #252525;
}
.pai button { /*Style dos botões principais*/
    color: #666666;
    background-color: #ffffff;
    border: 2px solid #666666;
    display: block;
    margin: 10px;
    font-size: 16pt;
    height: 59px;
    width: 150px;
    padding: 1%;
    transition-duration: 0.1s;
    border-radius: 15%;
}
.letter-class{ /*Style dos botões das letras*/
    color: #666666;
    background-color: #ffffff;
    border: 2px solid #666666;
    margin: 10px;
    font-size: 14pt;
    height: 45px;
    width: 90px;
    transition-duration: 0.1s;
    border-radius: 15%;
}
.pai button:hover, .letter-class button:hover, .cor button:hover { /*Hover de todos os botões (principais, letras e cor tema)*/
    background-color: #666666;
    color: #ffffff;
}
.cor { /*Style da div da cor tema*/
    position: fixed;
    right: 0.5%;
    top: 2%;
}
.cor button { /*Style do botão de cor tema*/
    color: #666666;
    background-color: #ffffff;
    border: 2px solid #666666;
    display: block;
    margin: 10px;
    font-size: 16pt;
    height: 45px;
    width: 90px;
    border-radius: 15%;
}
