:root {
    ---accent-color: #f3f3f3;
    ---accent-color-2: #252525;
    ---background-color: #fff;
    ---text-color: #666;
    ---theme-name: 'dark';
}

body {
    /*Tudo*/
    font-family: verdana;
    font-size: 13pt;
    background-color: var(---background-color);
}

h1 {
    /*Título*/
    color: var(---text-color);
    text-align: center;
    font-family: verdana;
    -webkit-text-stroke: 1.25px var(---accent-color);
    font-weight: 600;
    margin-top: 30pt;
    margin-bottom: 25pt;
}

ul {
    /*Listas (os resultados)*/
    list-style-type: none;
}

.result {
    /*Cor dos resultados*/
    color: var(---accent-color-2);
}

main button {
    /*Style dos botões principais*/
    color: var(---text-color);
    background-color: var(---background-color);
    border: 2px solid var(---text-color);
    margin: 10px;
    font-size: 16pt;
    height: 59px;
    width: 150px;
    transition-duration: 0.1s;
    border-radius: 15%;
}

.btn-main{
    z-index: 1;
}

.btn-main:nth-child(2) {
    visibility: none;
}

.btn-main:focus-within+div,
.btn-main+div:focus-within {
    visibility: visible;
}

.btn-letters {
    color: var(---text-color);
    background-color: var(---background-color);
    border: 2px solid var(---text-color);
    margin: 10px;
    font-size: 14pt;
    height: 45px;
    width: 90px;
    border-radius: 15%;
}

button:hover {
    background-color: var(---text-color);
    color: var(---background-color);
}


#btn-theme::before {
    content: var(---theme-name);
}

#btn-theme {
    position: fixed;
    right: 0.5%;
    top: 2%;
    color: var(---text-color);
    background-color: var(---background-color);
    border: 2px solid var(---text-color);
    display: block;
    margin: 10px;
    font-size: 16pt;
    height: 45px;
    width: 90px;
    border-radius: 15%;
}